@model QLlaptop.Models.Khachhang

@{
    ViewBag.Title = "Chitietkhachhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết thông tin khách hàng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoten)
        </dd>

        <dt>
            Tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

        <dt>
            Địa chỉ 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diachi)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>

        <dt>
            SDT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            CMND
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Suattkhachhang", new { id = Model.MaKH }) |
    @Html.ActionLink("Quay lại danh sách", "TTKhachhang")
</p>
