@model QLlaptop.Models.SanPham

@{
    ViewBag.Title = "Suasanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ĐIỀU CHỈNH THÔNG TIN SẢN PHẨM</h2>

@using (Html.BeginForm("Suasanpham", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaSP)

        @*<div class="form-group">
                <h4>Mã sản phẩm</h4>
                <div class="col-md-10">
                    <div style="font:18px; padding: 5px 0 0 5px"> @ViewBag.MaSP </div>
                </div>
            </div>*@

        <div class="form-group">
            <h4>Hình Chính</h4>
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                <img src="@Url.Content("~/Content/images/All/" + Model.ImageSP)" width="120" />(Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <h4>Hình 1</h4>
            <div class="col-md-10">
                <input type="file" name="fileupload_1" />
                <img src="@Url.Content("~/Content/images/All/" + Model.ImageSP_1)" width="120" />(Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <h4>Hình 2</h4>
            <div class="col-md-10">
                <input type="file" name="fileupload_2" />
                <img src="@Url.Content("~/Content/images/All/" + Model.ImageSP_2)" width="120" />(Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <h4>Hình 3</h4>
            <div class="col-md-10">
                <input type="file" name="fileupload_3" />
                <img src="@Url.Content("~/Content/images/All/" + Model.ImageSP_3)" width="120" />(Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <h4>Tên sản phẩm</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Chọn thương hiệu</h4>
            <div class="col-md-10">
                @Html.DropDownList("Mathuonghieu")
            </div>
        </div>

        <div class="form-group">
            <h4>Chọn loại sản phẩm</h4>
            <div class="col-md-10">
                @Html.DropDownList("Maloai")
            </div>
        </div>


        <div class="form-group">
            <h4>CPU</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>RAM</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.RAM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RAM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Ổ cứng</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bonho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bonho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Card đồ hoạ</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GPU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GPU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Màn hình</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Manhinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Manhinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Cổng giao tiếp</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Conggiaotiep, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Conggiaotiep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Audio</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Audio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Audio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>LAN</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>WIFI</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.WIFI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WIFI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Bluetooth</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bluetooth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bluetooth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Webcam</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Webcam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Webcam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Hệ điều hành</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HDH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HDH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Pin</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Trọng lượng</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trongluong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Trongluong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Màu sắc</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mausac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mausac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Kích thước</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kichthuoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kichthuoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Số lượng tồn</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Giá tiền</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giatien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Giatien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h4>Ngày cập nhật</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngaycapnhat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngaycapnhat, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
