@model QLlaptop.Models.LienHe

@{
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p><span style="font-family: helvetica, arial, sans-serif;"><strong><span style="font-size: 14pt;">JANGHOU TP. HỒ CHÍ MINH</span></strong></span></p>
<ul>
    <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;"><strong>Showroom:</strong>&nbsp;01 Lê Văn Việt, Phường Tăng Nhơn Phú, TPHCM.</span></li>
    <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;"><strong>Điểm bảo hành:</strong> 01 Lê Văn Việt, Phường Tăng Nhơn Phú, TPHCM.</span></li>
    <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;"><strong>Điện thoại:</strong>&nbsp;037 894 6748 – 092 937 8258.</span></li>
    <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;"><strong>Phòng kinh doanh:</strong>&nbsp;<a href="mailto:sales@JANGHOU.vn" target="_blank" rel="noopener noreferrer">sales@JANGHOU.vn</a></span></li>
    <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;"><strong>Hỗ&nbsp;trợ kỹ thuật:</strong>&nbsp;<a href="mailto:hotro@JANGHOU.vn" target="_blank" rel="noopener noreferrer">hotro@JANGHOU.vn</a></span></li>
    <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;"><strong>Phản ánh chất lượng dịch vụ :</strong>&nbsp;0389 802 101</span></li>
</ul>
<ul>
    <li>
        <span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;"><strong>Giờ làm việc:</strong></span>
        <ul>
            <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;">T2-T7: 9AM – 8PM</span></li>
            <li><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;">Chủ nhật: 10AM – 7PM</span></li>
        </ul>
    </li>
</ul>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LienHe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Diachibaohanh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachibaohanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diachibaohanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Diachi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Diachi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Diachi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phananh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phananh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phananh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Giolamviec, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giolamviec, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Giolamviec, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
